{% extends 'mainapp/layout.html' %}

{% block title %}
MainPage

{% endblock %}

{% block content %}
<div class="features">
    <h1>{{topic}}</h1>
    <hr>
    <p style = "max-width:90%">Starbucks Corporation, «Ста́рбакс» — американская компания по продаже кофе и одноимённая сеть кофеен. Основана в Сиэтле (штат Вашингтон) в 1971 году. На сентябрь 2020 года сеть Starbucks объединяла свыше 32 тысяч торговых точек в 75 странах мира (из них 8 тысяч работают в США).

Популяризируя кофе сильной обжарки, компания Starbucks зарекомендовала себя как представитель «второй волны» в кофейном бизнесе США, изначально выделив себя из числа прочих кофейных предприятий, сделав ставку на вкус и качество продаваемого кофе, равно как и на качество обслуживания клиентов. С возникновением в США в 2000-х годах «третьей кофейной волны» в области производства кофе, представители которой сделали упор на высокое качество кофейных зёрен, ручной помол и более лёгкую обжарку, Starbucks не отказалась от приготовления эспрессо в автоматических кофеварках из соображений эффективности и безопасности.

</p>
<hr>
<img src="static/mainapp/img/starbuckss.jpg">
</div>

{% endblock %}